html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 400;
   line-height: 1.8em;
   color: #666;
}

.pimg1
{
    background-image: url(image1.png);
   
    min-height: 100%;
}

.pimg2{
    background-image: url(image2.webp);
    min-height: 100%;

}

.pimg3
{
    background-image: url(image3.jpg);
    min-height: 100%;
}
   
.pimg1,.pimg2,.pimg3
{
    position :relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

.ptext
{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 8px;
  
}

.textBg
{
    background-color: #472727;
    color: white;
    padding: 15px;
}

.section-lite
{
    padding: 50px 80px;
    text-align: center;
    background-color: aliceblue;
    color: #666;
}




